*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
    --gallery-gap: calc(var(--index)*10)
}
@font-face {
    font-family: raleway-c;
    src: url(fonts/raleway-regular.woff2);
}
@font-face {
    font-family: outfit-c;
    src: url(fonts/outfit-regular.woff2);
}
h1,h2,h3,h4,h5{
    font-family: outfit-c;
}

body{
    background: url(img/bg.jpg) ;
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
    
}
/* Will-change */
.content, .hero, .main-header, .gallery{
    will-change: transform;
}


.hero {
	width: calc(var(--index) * 36);
    position: absolute;
    left: 100vh;
    overflow: hidden;
    top: 8vh;
    z-index: -1;    
}
.container{
    padding: 0 10vw;
}
.main-header{
    height: 100vh;
}
.main-header h1{
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 10vh;
    line-height: 0.9;
}

.portfolio {
}
.gallery {
    display: flex;
    padding: calc(var(--index) *8) 0;
}
.gallery > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery__right .gallery__item{
    margin-bottom: 0;
    margin-top: calc(var(--gallery-gap));
}
.gallery__left{
    margin-top: calc(var(--gallery-gap)*1.7);
}
.gallery__item {
    max-width: calc(var(--index)*22);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;
}
.text__block {
    color: var(--color-text);
}
.text-block__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}
.text-block__p {
    line-height: 1.75;
}















